<!--Headers-->
<header th:insert="fragments/header.html"> </header>
<!--Navbars-->
<span th:insert="fragments/navbar.html"> </span>

<!--Content-->

<div class="container-fluid mx-auto px-5 py-4">
    <h1>Dashboard</h1>

    <div class="mt-4">
        <a href="/warehouse/create" type="button" class="btn btn-primary mx-2"
           data-toggle="tooltip" data-placement="top" title="Create Warehouse">Add Warehouse</a>
        <a href="/items/create" type="button" class="btn btn-primary mx-2"
           data-toggle="tooltip" data-placement="top" title="Create Item">Add Item</a>
        <a href="/items/inventory/create" type="button" class="btn btn-primary mx-2"
           data-toggle="tooltip" data-placement="top" title="Create Inventory">Add Inventory</a>
        <button type="button" class="btn btn-primary mx-2">Receive Shipment</button>
        <button type="button" class="btn btn-primary mx-2">Send Shipment</button>
    </div>

    <!--Items-->
    <H2 class="mt-5">
        Items: <span th:text="${selectedWareName}">All Items</span>
        <span th:if="${isWareSelected}">
            <a  class="ms-3" th:href="@{/warehouse/edit/{id}(id=${selectedWareNo})}">
                <i class="fa fa-edit text-info h4"></i></button>
            </a>
        </span>
    </H2>

    <div class="accordion" id="accordionItems">

        <!--Accordion items-->
        <div class="accordion-item" th:each="item : ${items}">
            <!--Item title-->
            <h2 class="accordion-header" th:id="@{|itemHeadingId-${itemStat.count}|}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:attr="data-bs-target=@{|#itemBlockId-${itemStat.count}|},aria-controls=@{|itemBlockId-${itemStat.count}|}" aria-expanded="false">
                    <span th:text="${item.getDisplayStr()}"></span>
                </button>
            </h2>
            <!--Pallet info, item add-ons-->
            <div th:id="@{|itemBlockId-${itemStat.count}|}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionItems">
                <div class="accordion-body ms-4">
                    <!--Buttons for item edit-->
                    <ul class="list-inline mb-3">

                        <li class="list-inline-item">
                            <span th:if="${isWareSelected}">
                                <a th:href="@{/items/inventory/create(itemNo=${item.itemNo},wareNo=${selectedWareNo})}">
                                    <i class="fa-solid fa-file-circle-plus text-success h4"></i>
                                </a>
                            </span>
                            <span th:unless="${isWareSelected}">
                                <a th:href="@{/items/inventory/create(itemNo=${item.itemNo})}">
                                    <i class="fa-solid fa-file-circle-plus text-success h4"></i>
                                </a>
                            </span>
                        </li>

                        <li class="list-inline-item">
                            <a href="/">
                                <i class="fa fa-edit text-info h4"></i></button>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa-solid fa-trash text-danger h4"></i>
                            </a>
                        </li>
                    </ul>

                    <!--Pallet information-->
                    <div th:each="pallet : ${item.pallets}" th:text="${pallet.getDisplayStr()}"></div>
                </div>
            </div>
        </div>

    </div>



</div>

<!--Footer-->
<span th:insert="fragments/footer.html"> </span>