<!--Headers-->
<header th:insert="fragments/header.html"> </header>
<!--Navbars-->
<span th:insert="fragments/navbar.html"> </span>

<!--Content-->

<div class="container-fluid mx-auto px-5 py-4">
    <h1>Dashboard</h1>

    <div class="mt-4">
        <a href="/items/create" type="button" class="btn btn-primary mx-2">Add Item</a>
        <a href="/warehouse/create" type="button" class="btn btn-primary mx-2">Add Warehouse</a>
        <button type="button" class="btn btn-primary mx-2">Receive Shipment</button>
        <button type="button" class="btn btn-primary mx-2">Send Shipment</button>
    </div>

    <H2 class="mt-5">Items: <span th:text="${selectedWareName}">All Items</span></H2>

    <a class="text-decoration-none text-reset mt-1" data-bs-toggle="collapse"
       th:each="item : ${items}"
       th:href="@{|#itemblockid-${itemStat.count}|}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"
       >
        <div class="card">
            <div class="card-body">
                <div th:text="${item.getDisplayStr()}">
                </div>
                <div class="collapse multi-collapse mt-1 ms-4" th:id="@{|itemblockid-${itemStat.count}|}">
                    <div th:each="pallet : ${item.pallets}" th:text="${pallet.getDisplayStr()}">
                    </div>
                </div>
            </div>
        </div>
    </a>


    <a class="text-decoration-none text-reset" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">
        <div class="card">
            <div class="card-body">
                <div>
                    Item No: 123, Name: Apple, Desc: Fruit, Units: 200
                </div>
                <div class="collapse multi-collapse mt-1 ms-4" id="multiCollapseExample2">
                    PalletId: 222, Warehouse: 1, Aisle: 12, section: 1, level: 3
                </div>
            </div>
        </div>
    </a>


</div>

<!--Footer-->
<span th:insert="fragments/footer.html"> </span>