<!--Model Attributes: wareSelected, itemsExist, toWares, -->

<!--Headers-->
<header th:insert="fragments/header.html"> </header>
<!--Navbars-->
<span th:insert="fragments/navbar.html"> </span>

<!--Content-->
<div class="container-fluid mx-auto px-5 py-4">
    <h1>Ship Items</h1>


    <form th:object="${shipment}" th:action="@{/warehouse/shipment}" method="post"
          class="row g-3" th:if="${wareSelected && itemsExist}">
        <fieldset>
        <div class="mb-3 col-md-6">
            <label for="fromWare" class="form-label">From Warehouse</label>
            <input id="fromWare" type="text" class="form-control" th:field="*{from}" readonly />
        </div>

        <div class="mb-3 col-md-6">
            <label for="toWare" class="form-label">To Warehouse</label>
            <select id="toWare" class="form-select" th:field="*{to}" name="to">
                <option th:each="it : ${toWares}" th:value="${it.wareNo}"> <!--Todo: can optimize this-->
                    <span th:text="${it.toString()}"></span>
                </option>
            </select>
        </div>


        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="width: 20%">Include</th>
                <th scope="col" style="width: 50%">Item</th>
                <th scope="col" style="width: 30%">Units</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="shipItem, itemStat : ${shipment.items}">
                <td>
                    <input type="checkbox" class="form-check-input"
                           th:name="|items[${itemStat.index}].itemSelected|"
                           th:value="${shipItem.itemSelected}" required>
                </td>
<!--                <td><span th:text="${shipItem.item.getDisplayStr()}"></span></td>-->
                <td>
                    <input type="number" class="form-control" th:name="|items[${itemStat.index}].units|"
                           style="width: 6rem" th:value="${shipItem.units}" required>
                </td>
                <td>
                    <input type="hidden" class="form-control"
                           th:name="|items[${itemStat.index}].itemNo|"
                           th:value="${shipItem.itemNo}" required/>
                </td>

            </tr>

            </tbody>
        </table>

        <div class="col-12">
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </div>
        </fieldset>
    </form>


</div>

<!--Footer-->
<span th:insert="fragments/footer.html"> </span>